/* universal reset */
* {
  margin: 0;
}
/* boost fluid design  */
html,
body {
  box-sizing: border-box;
}
/* background */
body {
  background-color: #101114;
}
/* video courtesy dorelys figueroa  */
video {
  width: 100%;
  border-bottom: 0.025em solid greenyellow;
}
.video-div {
  position: relative;
}
.overlay {
  position: absolute;
  top: 57%;
  left: 57%;
}
h1 {
  font-size: large;
}
.ftl {
  float: left;
}
.ftr {
  float: right;
}
/* start of table styles  */
/* border sides */
table {
  margin: auto auto;
  border-left: 0.15em dotted greenyellow;
  border-right: 0.15em dotted greenyellow;
}
th {
  font-size: 4.25em;
  text-align: center;
  font-variant: small-caps;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
td {
  padding: 1.05em;
  text-align: justify;
}
.tfh {
  font-size: xx-small;
}
/* end of table styles  */
/* page footer */
footer {
  text-align: center;
  font-size: small;
  margin-top: 3.45em;
  padding-top: 0.5em;
  border-top: 0.15em dotted dodgerblue;
  text-shadow: 0.015em 0.015em #000;
}
/* color classes */
.color1 {
  color: blue;
}
.color2 {
  color: dodgerblue;
}
.color3 {
  color: greenyellow;
}
.color4 {
  color: palevioletred;
}
.color5 {
  color: palegreen;
}
.color6 {
  color: red;
}
.color7 {
  color: yellow;
}
